<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Manganomics{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <div class="headbar">
        Manganomics
    </div>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/manga-list/">Manga List</a></li>
                <li><a href="/rankings/">Rankings</a></li>
                <li><a href="/genres/">Genres</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- Body -->
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>